# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/

# C extensions
*.so

.cache

.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
instances/fengyun_1000.npz
